section {
  scroll-margin-top: 90px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    width: auto !important; /* agar tidak memenuhi lebar navbar */
    margin-left: auto !important; /* dorong ke kanan */
    text-align: right !important; /* teks rata kanan */
  }
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon a {
  text-decoration: none;
}

.icon i,
.icon a i {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: #333;
}

.icon i:hover,
.icon a:hover i {
  transform: scale(1.2);
  color: #54585a;
}
