p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #54585a;
}

.outer {
  margin: auto;
  text-align: center;
  width: 70%;
  background-color: rgb(217, 228, 228);
  border-radius: 7px;
  margin-top: 50px;
  padding: 20px 0 50px 0;
  overflow: hidden;
}

.inner {
  margin: auto;
  text-align: center;
  width: 50%;
}

.left {
  justify-content: flex-start;
  display: flex;
  max-width: 600px;
}

.outer p {
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 15px;
}

.image-container {
  width: 300px;
  margin: 40px auto;
  padding: 20px 0;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 15px;
  background-color: aliceblue;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

button {
  background-color: rgb(243, 238, 238);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  color: #54585a;
  transform: scale(1.1);
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon a {
  text-decoration: none;
}

.icon i,
.icon a i {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  color: #333;
}

.icon i:hover,
.icon a:hover i {
  transform: scale(1.2);
  color: #54585a;
}
